.Blog{
    padding-top: 70px;
    h1{
        //styleName: H5;
font-family: Syne;
font-size: 32px;
font-weight: 700;
line-height: 40px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;color: rgba(26, 29, 39, 1);
    }
    .Blog_flex{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 50px;
        flex-wrap: wrap;
        gap: 40px;
      
        .Blog_card{
            width: 100%;
            max-width: 610px;
            display: flex;
            gap: 15px;
            .Blog_text{
                display: flex;
                flex-direction: column;
                gap: 10px;
            h3{
                //styleName: H6;
font-family: Syne;
font-size: 24px;
font-weight: 700;
line-height: 28px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: rgba(26, 29, 39, 1);

            }
            p{
                font-family: Syne;
font-size: 14px;
font-weight: 400;
line-height: 23px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: rgba(26, 29, 39, 0.8);

            }
            }
        }
    }
}

@media (max-width:900px){
    .Blog{
        padding-top: 70px;
        padding-left: 25px;
        padding-right: 25px;
        h1{
            //styleName: H5;
    font-family: Syne;
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;color: rgba(26, 29, 39, 1);
        }
        .Blog_flex{
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 50px;
            flex-wrap: wrap;
            gap: 40px;
          
            .Blog_card{
                width: 100%;
                max-width: 610px;
                display: flex;
                gap: 15px;
                img{
                    width: 100px;
                    height: 100px;
                }
                .Blog_text{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                h3{
                    //styleName: H6;
    font-family: Syne;
    font-size: 18px;
    font-weight: 700;
    line-height: 15px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(26, 29, 39, 1);
    
                }
                p{
                    font-family: Syne;
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(26, 29, 39, 0.8);
    
                }
                }
            }
        }
    }
}